* {
  margin: 0;
  padding: 0;
}

:host {
  font-size: 24px;
  display: flex;
  width: min-content;
  height: 1em;
  overflow: hidden;
}

.number {
  &-column {
    display: block;
    width: min-content;
    height: 1em;
    overflow: hidden;
  }

  &-row {
    display: grid;
    place-self: center;
    height: 1em;
  }
}
